<style type="text/css">
{
		font-size: 11px;
		color:white;
		background: #ffffff;
		border: 1px;
		font-family: sans-serif;
	}

	#cabecera{
		height: 25%;
		width: 65%;
		float: left;
	}

	#login{/*este si*/
		font-family: sans-serif;
		color: #092652;
		background-color: #a4c7ff;
		border-color: #63748d;
		border-radius: 10px;
		height: 40%;
		width: 30%;
		border-left: 2px solid #63748d;
		border-right: 2px solid #63748d;
		border-top: 2px solid #63748d;
		text-align: center;
		
		font-weight: bold;
		float: ;
		margin-top: 50px;
		margin-right: 20px;

	}

	/*Aqui comienza estilo menu*/
	#menu{
		height: 13%;
		width: 55%;
		text-align: center;	
		float: right;
		font-family: sans-serif;
		border-left: 2px solid #63748d;
		border-right: 2px solid #63748d;
		border-top: 2px solid #63748d;
	}
	ul {
			list-style: none;
			clear: both;
			width: 60%;
			height: 50%;
			text-align: center;
			list-style: none;
			margin: 0;
			padding: 0;
			position: static;
			left: 40%;
			right: 40%;
			float: left;
			font-size: 16px;
		}

		li{
			font-size: 12px;
		}

		ul, li{
			float: right;
			list-style: none;	
		}

		.nav. > li {
			float: left;
		}

		.nav li a {
				background-color:#63748d;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:#434343;
			}
			
			.nav li ul {
				display:none;
				position:relative;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:none;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}

		
		#m{
			width: 40%;
			height: 50%;
			float: left;
			background: ;



		}

		#buscador{
			
			border-top: 3px solid #63748d;
		}

		#n{
			width: 60%;
			height: 50%;
			float: left;
		}

		/*aqui termina diseño de menu*/

		#margen-i{
		height: 35%;
		width: 40%;
		text-align: center;	
		float: left;	
		}

		/*Aqui termina estilo del menu*/

		#info-usuario{/*este si*/
		color: #092652;
		background-color: #a4c7ff;
		border-color: #70a8ff;
		border-radius: 10px;
		height: 5%;
		width: 90%;
		border-left: 2px solid #70a8ff;
		border-right: 2px solid #70a8ff;
		border-top: 2px solid #70a8ff;
		text-align: center;	
		clear: left;
		
		font-family: sans-serif;	
		font-size: 24px;
		}/*Aqui va informacion de usuario*/

		#seccion-cabecera{
		height: 110px;
		width: 90%;
		text-align: center;	
		float: left;
		font-family: sans-serif;		


		}
		/*Aqui termina nombre seccion*/

		#contenido {
			height: auto;
			width: 90%;		
			background-color: #63748d;
			/*opacity: 0.7;*/
			border-radius: 20px;
			border-top: 2px solid #70a8ff;
			text-align: center;
			float: left;
			font-family: sans-serif;
			margin-left: 5%;


		}/*termina contenido de pagina*/

		


		.textbox{ /*Estilo de cajas de texto*/
			border-radius: 8px;
			font-size: 14px;
			padding: 4px;
			font-weight: bold;

		}

		input::-webkit-input-placeholder {
			color: #a4c7ff;
		}
		
		.button{ /*Estilo de botones*/
			border-radius: 4px;
			font-family: sans-serif;
			font-size: 16px;
			font: bold 2em;

		}

		.button:hover{
			background: #63748d;

			}/*Termina estilo de botones*/

		table {
			width: 100%;
			border-radius: 10px;
			border-spacing: 0px;
			border: 3px solid #092652;
			margin-right: 10px;
		}

		.tboody{
			border: 3px solid #092652;
		}
			
		tr {
			width: 100%;
			text-align: center;
			border: 3px solid #092652;
			
		}

		th {
			width: 15%;
			text-align: left;
			border-radius: 3px;
			border:2px solid #63748d;
			border-spacing: 0px;
		}

		td {
			
			border:2px solid #a4c7ff;
		}



		#art{
			width: 90%;
			height: auto;
			text-align: center;
			border-top: 3px solid #092652;
			border-radius: 20px;
			background-color: #f1f1f1;
			text-align: left;
			font-family: sans-serif;
			padding: 8px;
			
		}


		#Evento{/*Este si*/
			width: 30%;
			height: auto;
			text-align: center;
			border-top: 3px solid #092652;
			border-radius: 20px;
			background-color: #f1f1f1;
			text-align: left;
			font-family: sans-serif;
			clear: center;
			padding: 8px;
			margin: 10px;	
		}

		#menu-action .boton{
			border-radius: 10px;
			font-size: 16px;
			background-color: #a4c7ff; 
			margin: 5px;
			padding-right: 20px;

		}

		.boton{
			border-radius: 10px;
			font-size: 16px;
			background-color: #a4c7ff; 
			margin: 5px;
			padding-right: 20px;
		}

		#menu-action .boton:hover{
			background: #63748d;

			}

			.boton:hover{
				background: #63748d;
			}

		#ref{
			background-color: #ddd;
			width: 300px;
			padding: 10px;
			float: none;

			box-shadow: 5px 5px 0 #333;
			-webkit-box-shadow: 5px 5px 0 #333;
			-moz-box-shadow: 5px 5px 0 #333;
		}


		#pie{
			width: 98%;
			height: 60px;
			float: left;
			border-top: #63748d 3px solid;
			border-radius: 10px;
			background-color: #092652;
			font-size: xx-small;
			padding: 3px;
		}
		.cuerpo{
			background-image: url("../Imagenes/background.png");
			font-size: 14px;
		}
</style>